{% extends "base.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}
<HTML>
<BODY style = "background-color:cyan;">
    <h1 style="text-align: center;"><br>
        <strong></strong></h1>
    <h1 style="text-align: center;"><br> </h1>
    <h1 style="text-align: center;"><strong>  Login</strong> </h1>
<form method= "POST" action= "#">
    <center>
        Username<input type = "text" name= "un" /> <br>
        Password  <input type = "text" name = "pw" /> <br>
        <input type = "submit">
    </center>
</form>
</BODY>
</HTML>
{% endblock %}
